<div>
  <.card_container>
    <.card>
      <div>
        <.card_title title={@title} />
      </div>

      <.simple_form for={%{}} phx-change="select_data_source" phx-target={@myself}>
        <div class="flex items-center">
          <.input
            class="max-w-md flex-1"
            type="select"
            name="id"
            prompt="데이터 소스를 선택해주세요"
            options={data_source_options(@data_sources)}
            value={@selected_data_source_id |> Nillable.fallback("")}
            disabled={@disabled}
          />
          <.button
            :if={!@disabled}
            type="button"
            class="ml-2"
            phx-click={
              js_log_event("click_new_data_source", %{page_name: "report_new"})
              |> show_modal("new_data_source_modal")
            }
          >
            새 데이터 소스 추가
          </.button>
        </div>
        <div class="text-landingDescription text-sm">
          * 미리 설정되어 있는 Demo 데이터 소스를 이용하여 reflow를 체험해보세요.
        </div>
      </.simple_form>
    </.card>
  </.card_container>

  <.modal id="new_data_source_modal" title="데이터 소스 추가">
    <.live_component
      module={DataSourceNew}
      id="data_source_new"
      org={@org}
      onsuccess={fn data_source -> send_update(__MODULE__, id: @id, data_source: data_source) end}
    />
  </.modal>
</div>
