<section class="page-container">
  <header class="page-header">
    <h1 class="page-title">
      <span class="pr-1">📑</span> Report List
    </h1>
    <div class="text-right">
      <%= live_redirect("Create New Report",
        to: Routes.report_new_path(@socket, :new),
        class: "btn btn-primary"
      ) %>
    </div>
  </header>

  <section class="mt-6">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Channel</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= for report <- @reports do %>
            <tr class="hover">
              <th><%= report.name %></th>
              <td><%= Timex.format!(report.trigger_time, "매일 {_h24}시") %></td>
              <td>#all-data</td>
              <td>
                <%= live_patch("Delete",
                  to: Routes.report_index_path(@socket, :delete, report.id),
                  class: "btn btn-sm"
                ) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</section>

<%= if @live_action == :delete do %>
  <Modal.confirm>
    <:title>
      Are you sure you want to delete the report?
    </:title>
    <:actions>
      <%= live_patch("No", to: Routes.report_index_path(@socket, :index), class: "btn btn-sm") %>
      <a class="btn btn-primary btn-sm" phx-click="delete_report">Yes</a>
    </:actions>
  </Modal.confirm>
<% end %>
