<section class="page-container">
  <header class="page-header">
    <ul class="steps">
      <li class="step step-primary">Integrate Slack</li>
      <li class="step step-primary">Connect Data Source</li>
      <li class="step step-primary">Create Report</li>
    </ul>
    <h1 class="page-title">
      <span class="pr-1">📊</span> Create New Report
    </h1>
  </header>

  <section class="mt-6 space-y-6">
    <section class="card">
      <div class="card-body">
        <h2 class="card-title">Type Query</h2>
        <.form let={f} for={:query} id="query_form" phx-submit="run_query" autocomplete="off">
          <div class="flex-col gap-2 sm:grid sm:grid-cols-3 sm:gap-2">
            <%= textarea(f, :sql_template,
              class: "border rounded mt-2 p-2 w-full sm:col-span-2",
              placeholder: "SQL here",
              value: @sql_template,
              rows: 12
            ) %>
            <p class="border rounded mt-2 p-2 w-full sm:col-span-1">
              This should be query guide!
            </p>
          </div>
          <div class="text-right mt-2">
            <%= submit("Run Query", class: "btn btn-primary") %>
          </div>
        </.form>
      </div>
    </section>

    <section class="flex gap-8 flex-col lg:flex-row">
      <section class="card">
        <div class="card-body">
          <h2 class="card-title">Set up Report</h2>
          <%= if @query_result_parsed do %>
            <.form let={f} for={:data_columns} phx-change="select_data_column" class="gap-y-2">
              <%= for v <- Map.values(@query_result_parsed) do %>
                <div class="flex gap-x-[0.25rem] items-center">
                  <%= label(f, v.meta.label, v.meta.label) %>
                  <%= checkbox(f, v.meta.label,
                    value: Enum.member?(@selected_columns, v.meta.label)
                  ) %>
                </div>
              <% end %>
            </.form>
          <% else %>
            <div class="pt-6">
              <Empty.empty title="쿼리 결과가 없습니다." description="확인할 데이터를 쿼리해주세요." />
            </div>
          <% end %>
        </div>
      </section>

      <section class="card">
        <div class="card-body">
          <h2 class="card-title">Slack Preview</h2>
          <%= if @query_result_parsed do %>
            <%= for v <- Map.values(@query_result_parsed) do %>
              <%= if Enum.member?(@selected_columns, v.meta.label) do %>
                <section class="rounded-xl border border-gray-200 p-6 font-lato text-slackBody mt-6">
                  <h3 class="font-bold pb-2">📊 <%= v.meta.label %></h3>
                  <section class="divide-y divide-gray-200">
                    <section>
                      <p class="font-bold py-2">Raw</p>
                      <section class="grid grid-cols-2 grid-rows-2 py-2">
                        <p class="font-bold">Yesterday</p>
                        <p class="font-bold">Last Week</p>
                        <p><%= v.meta.current_period_last_tick_raw %></p>
                        <p><%= v.meta.previous_period_last_tick_raw %></p>
                      </section>
                      <p class="font-bold py-2">Weekly Sum</p>
                      <section class="grid grid-cols-2 grid-rows-2 py-2">
                        <p class="font-bold">Last Week</p>
                        <p class="font-bold">Week over Week</p>
                        <p><%= v.meta.current_period_sum %></p>
                        <p><%= "#{v.meta.diff_between_periods_in_percentage}%" %></p>
                      </section>
                    </section>
                    <section
                      id={"chart-container-#{v.meta.label}"}
                      phx-update="ignore"
                      class="pt-2"
                    >
                      <canvas
                        id={"chart-#{v.meta.label}"}
                        class="border border-gray-200 rounded-lg"
                        phx-hook="Chart"
                      >
                      </canvas>
                    </section>
                  </section>
                </section>
              <% else %>
                <div></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="pt-6">
              <Empty.empty title="쿼리 결과가 없습니다." description="확인할 데이터를 쿼리해주세요." />
            </div>
          <% end %>
        </div>
      </section>
    </section>
    
    <section class="card">
      <div class="card-body">
        <h2 class="card-title">Report Details</h2>
        <.form
          let={f}
          for={:report}
          id="report_form"
          phx-submit="save_report"
          autocomplete="off"
          class="space-y-4"
        >
          <div class="flex items-center gap-x-2 mt-4">
            <%= label(f, :name, "레포트 이름", class: "label w-28 text-gray-500 text-sm") %>
            <%= text_input(f, :name,
              placeholder: "데일리 유저 지표",
              class: "input input-bordered w-64"
            ) %>
            <%= error_tag(f, :name) %>
          </div>

          <div class="flex items-center gap-x-2">
            <%= label(f, :hour, "레포트 발송 시간", class: "label w-28 text-gray-500 text-sm") %>
            <%= select(f, :hour, @hours, class: "select select-bordered w-64") %>
            <%= error_tag(f, :hour) %>
          </div>

          <div class="flex items-center gap-x-2">
            <%= label(f, :channel, "레포트 발송 채널", class: "label w-28 text-gray-500 text-sm") %>
            <%= select(f, :channel, @channels, class: "select select-bordered w-64") %>
            <%= error_tag(f, :channel) %>
          </div>

          <div class="flex gap-x-4 justify-end">
            <button class="btn btn-outline" type="button" phx-click="send_preview">
              Send Preview
            </button>
            <%= submit("Save", class: "btn btn-primary") %>
          </div>
        </.form>
      </div>
    </section>
  </section>
</section>
