<.inputs_for :let={fci} field={@form[:conn_info]}>
  <.input type="text" field={fci[:host]} label="Host URL" class="max-w-xs" />
  <.input type="text" field={fci[:api_key]} label="API Key" class="max-w-xs" />
</.inputs_for>
