<main class="bg-base">
  <.flash flash={@flash} />

  <nav class="fixed top-0 left-0 right-0 bg-background-dark z-50">
    <div class="max-w-7xl px-6 flex mx-auto py-1 justify-between">
      <.link navigate={~p"/app/reports"}>
        <div class="cursor-pointer py-4 px-1">
          <CarrierWeb.Components.Icon.logo_white class="w-24 h-auto" />
        </div>
      </.link>

      <div class="max-w-7xl px-6 flex flex-row">
        <%= if Carrier.Setting.get_feature_flag_value("payment") do %>
          <.link navigate={~p"/app/payment"}>
            <div class="menu-item">
              <CarrierWeb.Components.Icon.list_small />
              <span class="ml-2 text-sm">결제</span>
            </div>
          </.link>
        <% end %>

        <.link navigate={~p"/app/data-sources"}>
          <div class="menu-item">
            <CarrierWeb.Components.Icon.list_small />
            <span class="ml-2 text-sm">데이터 소스</span>
          </div>
        </.link>

        <.link navigate={~p"/app/reports"}>
          <div class="menu-item">
            <CarrierWeb.Components.Icon.list_small />
            <span class="ml-2 text-sm">레포트</span>
          </div>
        </.link>

        <.link navigate={~p"/app/settings"}>
          <div class="menu-item">
            <CarrierWeb.Components.Icon.setting_small />
            <span class="ml-2 text-sm">설정</span>
          </div>
        </.link>
      </div>
    </div>
  </nav>

  <div class="max-w-7xl mx-auto mt-16">
    <%= @inner_content %>
  </div>
</main>
