<main class="bg-base">
  <.flash flash={@flash} />

  <nav class="fixed top-0 left-0 right-0 bg-background-dark z-50">
    <.banner :if={@org.onboarded && !@active_subscription} class="py-2 text-center bg-red-700 text-white">
      <.link href={Const.get(:subscription_call_url)} target="_blank">
        구독이 종료되었습니다. 구독 문의하기 <.icon name="hero-arrow-small-right-mini" class="w-6 h-6" />
      </.link>
    </.banner>
    <div class="max-w-7xl px-6 flex mx-auto py-1 justify-between">
      <.link navigate={~p"/app/reports"}>
        <div class="cursor-pointer py-4 px-1">
          <Icon.logo_white class="w-24 h-auto" />
        </div>
      </.link>

      <div class="max-w-7xl px-6 flex flex-row">
        <.link navigate={~p"/app/reports"}>
          <div class="menu-item">
            <Icon.list_small />
            <span class="ml-2 text-sm">리포트</span>
          </div>
        </.link>

        <.link navigate={~p"/app/settings"}>
          <div class="menu-item">
            <Icon.setting_small />
            <span class="ml-2 text-sm">설정</span>
          </div>
        </.link>
      </div>
    </div>
  </nav>

  <div class={["max-w-7xl mx-auto pt-16", !@active_subscription && "pt-24"]}>
    <%= @inner_content %>
  </div>
</main>
