<!DOCTYPE html>
<html lang="en" data-theme="light" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" - 데이터 보는 습관을 만드는 가장 쉬운 툴">
      <%= assigns[:page_title] || "reflow" %>
    </.live_title>
    <meta
      property="og:title"
      content="reflow - 데이터 보는 습관을 만드는 가장 쉬운 툴"
    />
    <meta
      property="twitter:title"
      content="reflow - 데이터 보는 습관을 만드는 가장 쉬운 툴"
    />
    <meta
      property="description"
      content="reflow는 매출, 유저 등 사업 성장관리에 가장 중요한 지표를 5분만에 시각화하여 매일 모니터링 할 수 있는 환경을 구축하는 툴입니다. 성장이 빠른 스타트업에서 많이 사용하고 있습니다."
    />
    <meta
      property="og:description"
      content="reflow는 매출, 유저 등 사업 성장관리에 가장 중요한 지표를 5분만에 시각화하여 매일 모니터링 할 수 있는 환경을 구축하는 툴입니다. 성장이 빠른 스타트업에서 많이 사용하고 있습니다."
    />
    <meta
      property="twitter:description"
      content="reflow는 매출, 유저 등 사업 성장관리에 가장 중요한 지표를 5분만에 시각화하여 매일 모니터링 할 수 있는 환경을 구축하는 툴입니다. 성장이 빠른 스타트업에서 많이 사용하고 있습니다."
    />
    <meta property="og:image" content={url(~p"/images/thumbnail.png")} />
    <meta property="twitter:image" content={url(~p"/images/thumbnail.png")} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <%= if Application.get_env(:carrier, :env) not in [:dev, :test] do %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-6HCBF3730D">
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6HCBF3730D');
      </script>
      <!-- Smartlook Plugin Scripts -->
      <script type="text/javascript">
        window.smartlook||(function(d) {
          var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
          var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
          c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
          })(document);
          smartlook('init', '7bb4e75f499e190d445765353df97ac89b83e495', { region: 'eu' });
      </script>
    <% end %>
    <!-- Channel Plugin Scripts -->
    <script>
      (function() {
        var w = window;
        if (w.ChannelIO) {
          return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
        }
        var ch = function() {
          ch.c(arguments);
        };
        ch.q = [];
        ch.c = function(args) {
          ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
          if (w.ChannelIOInitialized) {
            return;
          }
          w.ChannelIOInitialized = true;
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
          s.charset = 'UTF-8';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
        if (document.readyState === 'complete') {
          l();
        } else if (window.attachEvent) {
          window.attachEvent('onload', l);
        } else {
          window.addEventListener('DOMContentLoaded', l, false);
          window.addEventListener('load', l, false);
        }
      })();
    </script>
    <!-- End Channel Plugin -->
    <!-- Toss Payments Scripts -->
    <script src="https://js.tosspayments.com/v1/payment-widget">
    </script>
    <!-- End Toss Payments -->
    <!-- Google Sign-In -->
    <script src="https://accounts.google.com/gsi/client" async defer>
    </script>
    <!-- End Google Sign-In -->
    <!-- Trix Editor -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css" />
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js">
    </script>
    <!-- End Trix Editor -->
  </head>
  <body class="bg-base h-full">
    <div
      id="g_id_onload"
      data-client_id={Carrier.External.Google.OAuth.client_id()}
      data-ux_mode="redirect"
      data-login_uri={url(~p"/auth/google/callback")}
    >
    </div>
    <%= @inner_content %>
  </body>
</html>
