<div class="page-container">
  <header class="page-header">
    <h1 class="page-title">
      <span class="page-title-icon">⚙️</span>초기 설정하기
    </h1>
  </header>

  <section class="card card-body mt-10">
    <div class="flex space-x-6">
      <div class="flex items-center">
        <div class="circle font-bold mr-2">
          1
        </div>
        <div class="text-sm">
          Integrate Slack
        </div>
      </div>

      <div class="flex items-center">
        <div class="circle mr-2 gray">
          2
        </div>
        <div class="text-sm text-description">
          Connect Data Source
        </div>
      </div>
    </div>

    <div class="callout mt-4">
      <div class="callout-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
          />
        </svg>
      </div>
      데이터 리포트를 받으실 슬랙 워크스페이스에 연결해주세요.
    </div>

    <div class="mt-10">
      <Slack.button />
    </div>
  </section>
</div>
