<div class="page-container">
  <header class="page-header">
    <ul class="steps">
      <li class="step step-primary">Integrate Slack</li>
      <li class="step">Connect Data Source</li>
      <li class="step">Create Report</li>
    </ul>
    <h1 class="page-title">
      <span class="pr-1">⛓</span>Create Integration
    </h1>
  </header>

  <div class="card mt-10">
    <div class="card-body">
      <div>
        <Slack.button />
      </div>
    </div>
  </div>
</div>
