<section class="page-container">
  <.page_header icon="⚙️" title="설정" />

  <.card_container>
    <.card>
      <.card_title title="계정 정보" />
      <p><%= @user.email %></p>
    </.card>
    <.card>
      <.card_title title="구독 정보" />

      <div :if={@active_subscription}>
        <p class="text-lg font-bold">
          <%= Plan.get_full_name(@active_subscription.plan) %>
        </p>
        <p>
          구독 기간: <%= format_date(@active_subscription.start_on) %> - <%= format_date(
            @active_subscription.end_on
          ) %>
        </p>
      </div>
      <div :if={@pending_subscription}>
        <p>구독 예정</p>
        <p class="text-lg font-bold">
          <%= Plan.get_full_name(@pending_subscription.plan) %>
        </p>
        <p>
          구독 기간: <%= format_date(@pending_subscription.start_on) %> - <%= format_date(
            @pending_subscription.end_on
          ) %>
        </p>
        <p>
          다음 결제 예정일: <%= format_date(@pending_subscription.start_on) %>
        </p>
        <p>
          결제 예정 금액: <%= format_money(
            @pending_subscription.payment.amount,
            @pending_subscription.payment.currency
          ) %> (VAT 10% 포함)
        </p>
        <p>
          결제 수단: <%= CreditCard.format_card_info(@pending_subscription.payment.credit_card) %>
        </p>
        <br />
        <p>
          구독 취소 문의: 오른쪽 하단 <.link
            href="https://reflow-work.channel.io/"
            target="_blank"
            class="link"
          >채널톡</.link>으로 문의해주세요.
        </p>
      </div>

      <%= if !@active_subscription and !@pending_subscription do %>
        <.link navigate={~p"/app/subscriptions/new"} class="btn btn-primary">구독하러 가기</.link>
      <% end %>
    </.card>
    <.card>
      <.link href={~p"/logout"} phx-click="smartlook_anonymize" class="btn">
        로그아웃
      </.link>
    </.card>
  </.card_container>
</section>
