<section class="page-container">
  <header class="page-header">
    <h1 class="page-title">
      <span class="page-title-icon">⚙️</span> 설정
    </h1>
  </header>

  <div class="space-y-8 mt-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          계정 정보
        </h2>

        <p>
          <%= @user.email %>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          구독 정보
        </h2>

        <div>
          <span class="text-lg font-bold"><%= @active_subscription.plan.name %></span>
          <span :if={@active_subscription.plan.billing_cycle != :none}>
            (<%= @active_subscription.plan.billing_cycle |> to_string() |> String.capitalize() %>)
          </span>
        </div>
        <div>
          다음 결제 예정일: <%= format_next_payment_date(@active_subscription) %>
        </div>
        <div :if={@active_subscription.payment.credit_card}>
          결제 수단: <%= CreditCard.format_card_info(@active_subscription.payment.credit_card) %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <.link href={~p"/logout"} phx-click="smartlook_anonymize" class="btn">
          로그아웃
        </.link>
      </div>
    </div>
  </div>
</section>
