<div class="page-container">
  <header class="page-header">
    <h1 class="page-title">
      <span class="page-title-icon">⚙️</span>초기 설정하기
    </h1>
  </header>

  <section class="card mt-10">
    <div class="card-body">
      <div class="divide-y">
        <div class="flex space-x-6">
          <div class="flex items-center">
            <div class="circle gray mr-2">
              1
            </div>
            <div class="text-sm text-description">
              Integrate Slack
            </div>
          </div>

          <div class="flex items-center">
            <div class="circle mr-2">
              2
            </div>
            <div class="text-sm font-bold">
              Connect Data Source
            </div>
          </div>
        </div>

        <div class="mt-6 pt-6">
          <div class="callout">
            <div class="callout-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
                />
              </svg>
            </div>
            사용하시는 데이터베이스의 접속정보를 넣어주세요. <br /> 모든 데이터는 높은 수준의 암호화로 관리됩니다.
          </div>
        </div>
      </div>

      <div class="rounded-md">
        <div class="mt-8">
          <div class="flex">
            <a phx-click="change_step" phx-value-step="step-1" class="text-sm cursor-pointer">
              <div class={"p-2 pt-0 border-b-2 hover:text-primary-200 #{if @step == "step-1" do
                  "border-primary font-bold"
                end}"}>
                1. Select Data Source
              </div>
            </a>

            <a phx-click="change_step" phx-value-step="step-2" class="text-sm cursor-pointer">
              <div class={"ml-4 p-2 pt-0 border-b-2 #{if @step == "step-2" do
                  "border-primary font-bold"
                end}"}>
                2. Set up Connection
              </div>
            </a>
          </div>

          <%= if @step == "step-1" do %>
            <div class="mt-10 space-y-4">
              <div
                phx-click="select_source"
                phx-value-source="mysql"
                class={
                  "p-4 cursor-pointer rounded w-80 border hover:bg-black hover:text-white flex justify-between #{if @source == :mysql do
                    "bg-black text-white"
                  else
                    "bg-white text-black"
                  end}"
                }
              >
                MySQL <Icon.arrow_right class="w-4" />
              </div>
              <div
                phx-click="select_source"
                phx-value-source="postgres"
                class={
                  "p-4 cursor-pointer rounded w-80 border hover:bg-black hover:text-white flex justify-between #{if @source == :postgres do
                    "bg-black text-white"
                  else
                    "bg-white text-black"
                  end}"
                }
              >
                PostgreSQL <Icon.arrow_right class="w-4" />
              </div>
            </div>
          <% end %>

          <%= if @step == "step-2" do %>
            <div class="mt-8">
              <.form
                let={f}
                for={@changeset}
                as={:conn_info}
                phx-submit="create_conn_info"
                class="space-y-2"
                autocomplete="off"
              >
                <div>
                  <label class="label">
                    <span class="label-text text-gray-500">Name</span>
                  </label>
                  <%= text_input(f, :name,
                    class: "data-source-input",
                    value: @conn_info.name,
                    placeholder: "Data Mart"
                  ) %>
                  <%= error_tag(f, :name) %>
                </div>

                <div>
                  <label class="label mt-2">
                    <span class="label-text text-gray-500">Host</span>
                  </label>
                  <%= text_input(f, :hostname,
                    class: "data-source-input",
                    value: @conn_info.hostname,
                    placeholder: "127.0.0.1"
                  ) %>
                  <%= error_tag(f, :hostname) %>
                </div>

                <div>
                  <label class="label mt-2">
                    <span class="label-text text-gray-500">Port</span>
                  </label>
                  <%= text_input(f, :port,
                    class: "data-source-input",
                    value: @conn_info.port,
                    placeholder: "Type here"
                  ) %>
                  <%= error_tag(f, :port) %>
                </div>

                <div>
                  <label class="label mt-2">
                    <span class="label-text text-gray-500">Database</span>
                  </label>
                  <%= text_input(f, :database,
                    class: "data-source-input",
                    value: @conn_info.database,
                    placeholder: "database name"
                  ) %>
                  <%= error_tag(f, :database) %>
                </div>

                <div>
                  <label class="label mt-2">
                    <span class="label-text text-gray-500">Username</span>
                  </label>
                  <%= text_input(f, :username,
                    class: "data-source-input",
                    value: @conn_info.username,
                    placeholder: "username"
                  ) %>
                  <%= error_tag(f, :username) %>
                </div>

                <div>
                  <label class="label mt-2">
                    <span class="label-text text-gray-500">Password</span>
                  </label>
                  <%= password_input(f, :password,
                    class: "data-source-input",
                    placeholder: "password"
                  ) %>
                  <%= error_tag(f, :username) %>
                </div>

                <%= if @error do %>
                  <%= error_tag(@error) %>
                <% end %>

                <div class="flex pt-4">
                  <%= submit("Connect", class: "btn btn-primary") %>
                </div>
              </.form>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
