<div class="page-container">
  <header class="page-header">
    <h1 class="page-title">
      <span class="page-title-icon">⚙️</span>초기 설정하기
    </h1>
  </header>

  <section class="card mt-10">
    <div class="card-body">
      <div class="divide-y">
        <div class="flex space-x-6">
          <div class="flex items-center">
            <div class="circle gray mr-2">
              1
            </div>
            <div class="text-sm text-description">
              슬랙 연동하기
            </div>
          </div>

          <div class="flex items-center">
            <div class="circle mr-2">
              2
            </div>
            <div class="text-sm font-bold">
              데이터 소스 연결하기
            </div>
          </div>
        </div>

        <div class="mt-6 pt-6">
          <div class="callout">
            <div class="callout-icon">
              <Icon.alert_circle class="w-4 h-4 mt-0.5" />
            </div>
            사용하시는 데이터 소스의 접속정보를 넣어주세요. <br /> 모든 정보는 높은 수준의 암호화로 관리됩니다.
          </div>

          <div class="callout mt-2">
            <div class="callout-icon">
              <Icon.alert_circle class="w-4 h-4 mt-0.5" />
            </div>
            데이터 소스에 방화벽이 설정되어 있는 경우
            <code class="mx-1 bg-red-100 rounded text-primary-red px-1 border border-primary-red">
              15.165.126.27
            </code>
            IP를 화이트 리스트에 설정해주세요.
          </div>
        </div>
      </div>

      <div class="rounded-md">
        <div class="mt-8">
          <div class="flex">
            <a phx-click="change_step" phx-value-step="step-1" class="text-sm cursor-pointer">
              <div class={"p-2 pt-0 border-b-2 hover:text-primary-200 #{if @step == "step-1" do
                  "border-primary font-bold"
                end}"}>
                1. 데이터 소스 선택
              </div>
            </a>

            <a phx-click="change_step" phx-value-step="step-2" class="text-sm cursor-pointer">
              <div class={"ml-4 p-2 pt-0 border-b-2 #{if @step == "step-2" do
                  "border-primary font-bold"
                end}"}>
                2. 연결 정보 설정
              </div>
            </a>
          </div>

          <%= if @step == "step-1" do %>
            <div class="mt-10 space-y-4">
              <%= for {source, source_name, image_filename} <- data_sources() do %>
                <div
                  phx-click="select_source"
                  phx-value-source={source}
                  class={
                    "p-4 cursor-pointer rounded w-80 border hover:bg-black hover:text-white flex items-center justify-between #{if @source == source do
                      "bg-black text-white"
                    else
                      "bg-white text-black"
                    end}"
                  }
                >
                  <div class="flex items-center">
                    <%= img_tag(Routes.static_path(@socket, "/images/#{image_filename}"),
                      class: "w-6 mr-4"
                    ) %> <%= source_name %>
                  </div>
                  <Icon.arrow_right class="w-4" />
                </div>
              <% end %>
            </div>
          <% end %>

          <%= if @step == "step-2" do %>
            <div class="mt-8">
              <%= case @source do %>
                <% source when source in [:postgres, :mysql] -> %>
                  <.form
                    :let={f}
                    for={@changeset}
                    as={:data_source}
                    phx-change="validate_data_source"
                    phx-submit="create_data_source"
                    class="space-y-2"
                    autocomplete="off"
                  >
                    <div>
                      <label class="label">
                        <span class="label-text text-gray-500">데이터 소스 이름</span>
                      </label>
                      <%= text_input(f, :name,
                        class: "data-source-input",
                        placeholder: "데이터 마트"
                      ) %>
                      <%= error_tag(f, :name) %>
                    </div>

                    <%= inputs_for f, :conn_info, fn fci -> %>
                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">호스트</span>
                        </label>
                        <%= text_input(fci, :hostname,
                          class: "data-source-input",
                          placeholder: "127.0.0.1"
                        ) %>
                        <%= error_tag(fci, :hostname) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">포트</span>
                        </label>
                        <%= text_input(fci, :port,
                          class: "data-source-input",
                          placeholder: "3306"
                        ) %>
                        <%= error_tag(fci, :port) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">데이터베이스</span>
                        </label>
                        <%= text_input(fci, :database,
                          class: "data-source-input",
                          placeholder: "service_db"
                        ) %>
                        <%= error_tag(fci, :database) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">유저 이름</span>
                        </label>
                        <%= text_input(fci, :username,
                          class: "data-source-input",
                          placeholder: "username"
                        ) %>
                        <%= error_tag(fci, :username) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">비밀번호</span>
                        </label>
                        <%= password_input(fci, :password,
                          class: "data-source-input",
                          value: input_value(fci, :password),
                          placeholder: "password"
                        ) %>
                        <%= error_tag(fci, :password) %>
                      </div>

                      <div class="flex mt-5 items-center">
                        <%= checkbox(fci, :ssl, value: input_value(fci, :ssl)) %>
                        <label class="label ml-1">
                          <span class="label-text text-gray-500">SSL 사용 여부</span>
                        </label>
                        <%= error_tag(fci, :ssl) %>
                      </div>
                    <% end %>

                    <%= if @error do %>
                      <%= error_tag(@error) %>
                    <% end %>

                    <div class="flex pt-4">
                      <%= submit("연결하기",
                        class: "btn btn-primary",
                        disabled: !@changeset.valid?,
                        phx_disable_with: "연결중"
                      ) %>
                    </div>
                  </.form>
                <% :bigquery -> %>
                  <.form
                    :let={f}
                    for={@changeset}
                    as={:data_source}
                    phx-change="validate_data_source"
                    phx-submit="create_data_source"
                  >
                    <div>
                      <label class="label">
                        <span class="label-text text-gray-500">데이터 소스 이름</span>
                      </label>
                      <%= text_input(f, :name,
                        class: "data-source-input",
                        placeholder: "데이터 마트"
                      ) %>
                      <%= error_tag(f, :name) %>
                    </div>

                    <%= inputs_for f, :conn_info, fn fci -> %>
                      <%= hidden_input(fci, :project_id) %>
                      <%= hidden_input(fci, :credentials_json) %>
                    <% end %>

                    <div class="mt-2">
                      <label class="label block">
                        <p class="label-text text-gray-500">Credentials JSON</p>
                        <p class="label-text text-gray-500 mt-2">
                          Service Account 의 credential 을 업로드 해주세요.
                        </p>
                        <p class="label-text text-gray-500">
                          Service Accounts 는 "BigQuery Data Viewer", "BigQuery Job User" role 을 가지고 있어야 합니다.
                        </p>
                      </label>
                      <div class="sm:grid sm:border-gray-200">
                        <div class="mt-1 sm:mt-0" phx-drop-target={@uploads.credentials.ref}>
                          <div class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                            <div class="space-y-1 text-center">
                              <svg
                                class="mx-auto h-12 w-12 text-gray-400"
                                stroke="currentColor"
                                fill="none"
                                viewBox="0 0 48 48"
                                aria-hidden="true"
                              >
                                <path
                                  d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                >
                                </path>
                              </svg>
                              <div class="flex text-sm text-gray-600">
                                <label
                                  for="file-upload"
                                  class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                                >
                                  <span phx-click={
                                    js_exec("##{@uploads.credentials.ref}", "click", [])
                                  }>
                                    Upload file
                                  </span>
                                  <.live_file_input
                                    upload={@uploads.credentials}
                                    class="sr-only"
                                    tabindex="0"
                                  />
                                </label>
                                <p class="pl-1">or drag and drop</p>
                              </div>
                              <p class="text-xs text-gray-500">
                                .json file
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%= if @file_name do %>
                        <div class="mt-2">
                          ✅ <%= @file_name %>
                        </div>
                      <% end %>
                    </div>

                    <%= if @error do %>
                      <%= error_tag(@error) %>
                    <% end %>

                    <%= submit("연결하기",
                      class: "btn btn-primary mt-4",
                      disabled: !@changeset.valid?,
                      phx_disable_with: "연결중"
                    ) %>
                  </.form>
                <% :athena -> %>
                  <.form
                    :let={f}
                    for={@changeset}
                    as={:data_source}
                    phx-change="validate_data_source"
                    phx-submit="create_data_source"
                    class="space-y-2"
                    autocomplete="off"
                  >
                    <div>
                      <label class="label">
                        <span class="label-text text-gray-500">데이터 소스 이름</span>
                      </label>
                      <%= text_input(f, :name,
                        class: "data-source-input",
                        placeholder: "데이터 마트"
                      ) %>
                      <%= error_tag(f, :name) %>
                    </div>

                    <%= inputs_for f, :conn_info, fn fci -> %>
                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">Access Key ID</span>
                        </label>
                        <%= text_input(fci, :access_key_id, class: "data-source-input") %>
                        <%= error_tag(fci, :access_key_id) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">Secret Access Key</span>
                        </label>
                        <%= password_input(fci, :secret_access_key,
                          class: "data-source-input",
                          value: input_value(fci, :secret_access_key)
                        ) %>
                        <%= error_tag(fci, :secret_access_key) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">Region</span>
                        </label>
                        <%= text_input(fci, :region,
                          class: "data-source-input",
                          placeholder: "ap-northeast-2"
                        ) %>
                        <%= error_tag(fci, :region) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">Workgroup</span>
                        </label>
                        <%= text_input(fci, :workgroup,
                          class: "data-source-input",
                          placeholder: "primary"
                        ) %>
                        <%= error_tag(fci, :workgroup) %>
                      </div>

                      <div>
                        <label class="label mt-2">
                          <span class="label-text text-gray-500">Database</span>
                        </label>
                        <%= text_input(fci, :database, class: "data-source-input") %>
                        <%= error_tag(fci, :database) %>
                      </div>
                    <% end %>

                    <%= if @error do %>
                      <%= error_tag(@error) %>
                    <% end %>

                    <div class="flex pt-4">
                      <%= submit("연결하기",
                        class: "btn btn-primary",
                        disabled: !@changeset.valid?,
                        phx_disable_with: "연결중"
                      ) %>
                    </div>
                  </.form>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
