<div><button class="btn">Button</button>
  <button class="btn btn-primary">Button</button>
  <button class="btn btn-secondary">Button</button>
  <button class="btn btn-accent">Button</button>
  <button class="btn btn-ghost">Button</button>
  <button class="btn btn-link">Button</button></div>

<div class="rounded-box bg-base-100 border-base-content/5 text-base-content not-prose grid gap-3 border p-6">
  <div class="grid grid-cols-2 gap-2 md:grid-cols-4" style="user-select: auto;">
    <button class="btn" style="user-select: auto;">Default</button>
    <button class="btn btn-primary" style="user-select: auto;">Primary</button>
    <button class="btn btn-secondary" style="user-select: auto;">Secondary</button>
    <button class="btn btn-accent" style="user-select: auto;">Accent</button>
    <button class="btn btn-info" style="user-select: auto;">Info</button>
    <button class="btn btn-success" style="user-select: auto;">Success</button>
    <button class="btn btn-warning" style="user-select: auto;">Warning</button>
    <button class="btn btn-error" style="user-select: auto;">Error</button>
  </div>

  <div class="grid grid-cols-2 place-items-center gap-2 md:grid-cols-4" style="user-select: auto;">
    <span class="badge" style="user-select: auto;">Default</span>
    <span class="badge badge-primary" style="user-select: auto;">Primary</span>
    <span class="badge badge-secondary" style="user-select: auto;">Secondary</span>
    <span class="badge badge-accent" style="user-select: auto;">Accent</span>
    <span class="badge badge-info" style="user-select: auto;">Info</span>
    <span class="badge badge-success" style="user-select: auto;">Success</span>
    <span class="badge badge-warning" style="user-select: auto;">Warning</span>
    <span class="badge badge-error" style="user-select: auto;">Error</span>
  </div>

  <div class="flex flex-col gap-3" style="user-select: auto;">
    <div class="flex flex-col gap-3 md:flex-row" style="user-select: auto;">
      <div class="md:w-1/2" style="user-select: auto;">
        <div class="tabs" style="user-select: auto;">
          <button class="tab tab-lifted" style="user-select: auto;">Tab</button>
          <button class="tab tab-lifted tab-active" style="user-select: auto;">Tab</button>
          <button class="tab tab-lifted" style="user-select: auto;">Tab</button>
        </div>

        <div class="flex flex-col" style="user-select: auto;">
          <span class="link" style="user-select: auto;">I'm a simple link</span>
          <span class="link link-primary" style="user-select: auto;">I'm a simple link</span>
          <span class="link link-secondary" style="user-select: auto;">I'm a simple link</span>
          <span class="link link-accent" style="user-select: auto;">I'm a simple link</span>
        </div>
      </div>

      <div class="flex flex-col gap-3 md:w-1/2" style="user-select: auto;">
        <progress value="20" max="100" class="progress" style="user-select: auto;">
          Default
        </progress>
        <progress
          value="25"
          max="100"
          class="progress progress-primary"
          style="user-select: auto;"
        >
          Primary
        </progress>
        <progress
          value="30"
          max="100"
          class="progress progress-secondary"
          style="user-select: auto;"
        >
          Secondary
        </progress>
        <progress value="40" max="100" class="progress progress-accent" style="user-select: auto;">
          Accent
        </progress>
        <progress value="45" max="100" class="progress progress-info" style="user-select: auto;">
          Info
        </progress>
        <progress
          value="55"
          max="100"
          class="progress progress-success"
          style="user-select: auto;"
        >
          Success
        </progress>
        <progress
          value="70"
          max="100"
          class="progress progress-warning"
          style="user-select: auto;"
        >
          Warning
        </progress>
        <progress value="90" max="100" class="progress progress-error" style="user-select: auto;">
          Error
        </progress>
      </div>
    </div>

    <div class="flex flex-col gap-3 md:flex-row" style="user-select: auto;">
      <div class="stats bg-base-300 border-base-300 border md:w-1/2" style="user-select: auto;">
        <div class="stat" style="user-select: auto;">
          <div class="stat-title" style="user-select: auto;">Total Page Views</div>

          <div class="stat-value" style="user-select: auto;">89,400</div>

          <div class="stat-desc" style="user-select: auto;">21% more than last month</div>
        </div>
      </div>

      <div
        class="flex flex-wrap items-center justify-center gap-3 md:w-1/2"
        style="user-select: auto;"
      >
        <div class="radial-progress" style="--value:60; --size:3.5rem; user-select: auto;">
          60%
        </div>

        <div class="radial-progress" style="--value:75; --size:3.5rem; user-select: auto;">
          75%
        </div>

        <div class="radial-progress" style="--value:90; --size:3.5rem; user-select: auto;">
          90%
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-3" style="user-select: auto;">
    <div class="flex flex-col gap-3 md:flex-row" style="user-select: auto;">
      <div class="md:w-1/2" style="user-select: auto;">
        <div style="user-select: auto;">
          <input type="checkbox" class="toggle" style="user-select: auto;" />
          <input type="checkbox" class="toggle toggle-primary" style="user-select: auto;" />
          <input type="checkbox" class="toggle toggle-secondary" style="user-select: auto;" />
          <input type="checkbox" class="toggle toggle-accent" style="user-select: auto;" />
        </div>

        <div style="user-select: auto;">
          <input type="checkbox" class="checkbox" style="user-select: auto;" />
          <input type="checkbox" class="checkbox checkbox-primary" style="user-select: auto;" />
          <input type="checkbox" class="checkbox checkbox-secondary" style="user-select: auto;" />
          <input type="checkbox" class="checkbox checkbox-accent" style="user-select: auto;" />
        </div>

        <div style="user-select: auto;">
          <input type="radio" name="radio-1" class="radio" style="user-select: auto;" />
          <input
            type="radio"
            name="radio-1"
            class="radio radio-primary"
            style="user-select: auto;"
          />
          <input
            type="radio"
            name="radio-1"
            class="radio radio-secondary"
            style="user-select: auto;"
          />
          <input
            type="radio"
            name="radio-1"
            class="radio radio-accent"
            style="user-select: auto;"
          />
        </div>
      </div>

      <div class="md:w-1/2" style="user-select: auto;">
        <input type="range" min="0" max="100" class="range range-xs" style="user-select: auto;" />
        <input
          type="range"
          min="0"
          max="100"
          class="range range-xs range-primary"
          style="user-select: auto;"
        />
        <input
          type="range"
          min="0"
          max="100"
          class="range range-xs range-secondary"
          style="user-select: auto;"
        />
        <input
          type="range"
          min="0"
          max="100"
          class="range range-xs range-accent"
          style="user-select: auto;"
        />
      </div>
    </div>

    <div class="flex flex-col gap-3 md:flex-row" style="user-select: auto;">
      <div class="flex flex-col gap-3 md:w-1/2" style="user-select: auto;">
        <input
          type="text"
          placeholder="Default"
          class="input input-bordered w-full"
          style="user-select: auto;"
        />
        <input
          type="text"
          placeholder="Primary"
          class="input input-primary input-bordered w-full"
          style="user-select: auto;"
        />
        <input
          type="text"
          placeholder="Secondary"
          class="input input-secondary input-bordered w-full"
          style="user-select: auto;"
        />
        <input
          type="text"
          placeholder="Accent"
          class="input input-accent input-bordered w-full"
          style="user-select: auto;"
        />
      </div>

      <div class="flex flex-col gap-3 md:w-1/2" style="user-select: auto;">
        <input
          type="text"
          placeholder="Info"
          class="input input-info input-bordered w-full"
          style="user-select: auto;"
        />
        <input
          type="text"
          placeholder="Success"
          class="input input-success input-bordered w-full"
          style="user-select: auto;"
        />
        <input
          type="text"
          placeholder="Warning"
          class="input input-warning input-bordered w-full"
          style="user-select: auto;"
        />
        <input
          type="text"
          placeholder="Error"
          class="input input-error input-bordered w-full"
          style="user-select: auto;"
        />
      </div>
    </div>

    <div class="navbar bg-neutral text-neutral-content rounded-box" style="user-select: auto;">
      <div class="flex-none" style="user-select: auto;">
        <button class="btn btn-square btn-ghost" style="user-select: auto;">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-5 w-5 stroke-current"
            style="user-select: auto;"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
              style="user-select: auto;"
            >
            </path>
          </svg>
        </button>
      </div>

      <div class="flex-1" style="user-select: auto;">
        <button class="btn btn-ghost text-xl normal-case" style="user-select: auto;">
          daisyUI
        </button>
      </div>
    </div>

    <div class="flex gap-3" style="user-select: auto;">
      <div class="flex flex-grow flex-col gap-3" style="user-select: auto;">
        <div class="text-4xl font-bold" style="user-select: auto;">Text Size 1</div>

        <div class="text-3xl font-bold" style="user-select: auto;">Text Size 2</div>

        <div class="text-2xl font-bold" style="user-select: auto;">Text Size 3</div>

        <div class="text-xl font-bold" style="user-select: auto;">Text Size 4</div>

        <div class="text-lg font-bold" style="user-select: auto;">Text Size 5</div>

        <div class="text-sm font-bold" style="user-select: auto;">Text Size 6</div>

        <div class="text-xs font-bold" style="user-select: auto;">Text Size 7</div>
      </div>

      <ul class="steps steps-vertical" style="user-select: auto;">
        <li class="step step-primary" style="user-select: auto;">Step 1</li>

        <li class="step step-primary" style="user-select: auto;">Step 2</li>

        <li class="step" style="user-select: auto;">Step 3</li>

        <li class="step" style="user-select: auto;">Step 4</li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col gap-3" style="user-select: auto;">
    <div class="alert" style="user-select: auto;">
      <div style="user-select: auto;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="stroke-info h-6 w-6 flex-shrink-0"
          style="user-select: auto;"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            style="user-select: auto;"
          >
          </path>
        </svg>
        <span style="user-select: auto;">12 unread messages. Tap to see.</span>
      </div>
    </div>

    <div class="alert alert-info" style="user-select: auto;">
      <div style="user-select: auto;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="h-6 w-6 flex-shrink-0 stroke-current"
          style="user-select: auto;"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            style="user-select: auto;"
          >
          </path>
        </svg>
        <span style="user-select: auto;">New software update available.</span>
      </div>
    </div>

    <div class="alert alert-success" style="user-select: auto;">
      <div style="user-select: auto;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 flex-shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
          style="user-select: auto;"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            style="user-select: auto;"
          >
          </path>
        </svg>
        <span style="user-select: auto;">Your purchase has been confirmed!</span>
      </div>
    </div>

    <div class="alert alert-warning" style="user-select: auto;">
      <div style="user-select: auto;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 flex-shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
          style="user-select: auto;"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
            style="user-select: auto;"
          >
          </path>
        </svg>
        <span style="user-select: auto;">Warning: Invalid email address!</span>
      </div>
    </div>

    <div class="alert alert-error" style="user-select: auto;">
      <div style="user-select: auto;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 flex-shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
          style="user-select: auto;"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            style="user-select: auto;"
          >
          </path>
        </svg>
        <span style="user-select: auto;">Error! Task failed successfully.</span>
      </div>
    </div>
  </div>
</div>
