<div class="bg-white">
  <.live_component module={LandingHeaderComponent} id="hero" />

  <main class="pt-[67px]">
    <%= @inner_content %>
  </main>

  <.live_component module={LandingFooterComponent} id="hero" />
</div>
