<main>
  <.flash flash={@flash} />
  <div class="fixed w-20 top-2 bottom-2 bg-black rounded-tr-md rounded-br-md">
    <nav class="flex h-full text-white flex-col items-center py-4">
      <%= live_redirect to: Routes.report_index_path(@socket, :index), class: "p-4" do %>
        <%= img_tag(Routes.static_path(@socket, "/images/logo-white.png"), class: "w-5") %>
      <% end %>

      <%= live_redirect to: Routes.report_index_path(@socket, :index), class: "p-4" do %>
        <Icon.bar_chart />
      <% end %>

      <a class="p-4 cursor-pointer"><Icon.settings /></a>

      <%= link to: Routes.auth_path(@socket, :logout), class: "p-4 cursor-pointer" do %>
        Logout
      <% end %>
    </nav>
  </div>

  <div class="ml-20 my-2">
    <%= @inner_content %>
  </div>
</main>
