<main>
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <div class="flex bg-slate-100 w-full">
    <div class="w-20 h-screen bg-white">
      <ul>
        <li class="p-3"><a>REFLOW</a></li>
        <li class="p-3"><a><Icon.bar_chart /></a></li>
        <li class="p-3"><a><Icon.settings /></a></li>
        <li class="p-3">
          <%= link to: Routes.auth_path(@socket, :logout) do %>
            Logout
          <% end %>
        </li>
      </ul>
    </div>

    <div class="p-10 flex-1">
      <%= @inner_content %>
    </div>
  </div>
</main>
