<section class="mt-6 space-y-6">
  <section class="card">
    <div class="card-body">
      <div>
        <h2 class="card-title mb-3">데이터 소스 선택하기</h2>
        <div>
          데이터를 불러올 데이터 소스를 선택해주세요.
        </div>
      </div>

      <.form for={%{}} phx-change={@onselect}>
        <div class="max-w-xs mt-4">
          <.input
            class="flex items-center gap-x-2"
            type="select"
            name="id"
            prompt="데이터 소스를 선택해주세요"
            options={data_source_options(@data_sources)}
            value={@selected_data_source |> Nillable.map(& &1.id) |> Nillable.fallback("")}
          >
            <:label_element>
              <CarrierWeb.CoreComponents.label for="id" class="label w-28 text-gray-500 text-sm">
                데이터 소스 이름
              </CarrierWeb.CoreComponents.label>
            </:label_element>
          </.input>
        </div>
      </.form>
    </div>
  </section>
</section>
