<.card_container>
  <.card>
    <div>
      <.card_title title="데이터 소스" />
    </div>

    <.simple_form for={%{}} phx-change={@onselect}>
      <div class="max-w-md">
        <.input
          type="select"
          name="id"
          prompt="데이터 소스를 선택해주세요"
          options={data_source_options(@data_sources)}
          value={@selected_data_source |> Nillable.map(& &1.id) |> Nillable.fallback("")}
        />
      </div>
    </.simple_form>
  </.card>
</.card_container>
