<.card_container>
  <.card>
    <div>
      <.card_title title="Tableau View 선택하기" />
      <p class="mt-2">Tableau 에서 불러올 View 를 선택해주세요.</p>
    </div>

    <div class="max-w-md">
      <.live_component
        module={Search}
        id="tableau_view_selector"
        items={[{"A \\ C / D", "a"}, {"B C", "b"}, {"Wow C", "x"}]}
        onselect={@onselects.select_tableau_view}
      />
    </div>
  </.card>
</.card_container>
