<div id="chart-container" phx-update="ignore">
  <canvas id="chart" phx-hook="chart"></canvas>
</div>
<div class="flex space-x-6 px-10" >
  <button phx-click="prev">Previous Day</button>
  <button phx-click="next">Next Day</button>
</div>
