<section class="p-8 bg-slate-200 w-full">
  <h1 class="text-5xl font-bold">Create New Report</h1>
  <section class="mt-10">
    <section class="rounded drop-shadow p-6 bg-white">
      <label>
        <span class="text-2xl block font-bold">Name</span>
        <input placeholder="Daily User Metric" class="border border-black rounded mt-2 p-2"/>
      </label>
    </section>
    <section class="rounded drop-shadow p-6 mt-6 bg-white">
      <form
        phx-submit="run_query"
        >
        <label>
        <span class="text-2xl block font-bold">Type Query</span>
        <textarea
          placeholder="SELECT {{ Date를 넣어주세요 }} \n FROM table \n WHERE condition1, condition2 ..."
          name="query_editor"
          id="query_editor"
          class="border border-black rounded mt-2 p-2 w-full"
        />
        </label>
        <input type="submit" name="Run">
      </form>
    </section>
  </section>
  <section id="chart-container" phx-update="ignore" class="rounded drop-shadow p-6 bg-white mt-6">
    <canvas id="chart" phx-hook="Chart"></canvas>
    <div class="flex space-x-6 px-10" >
      <button phx-click="prev">Previous Day</button>
      <button phx-click="next">Next Day</button>
    </div>
  </section>
</section>
