<section class="landing-container grid grid-cols-12 gap-6 section items-center">
  <div class="col-span-12 md:col-span-6 text-center md:text-left justify-center md:justify-start">
    <h1 class="h1">데이터 보는 문화를<br /> 단 5분 만에 만드는 방법</h1>

    <div>
      <CarrierWeb.Components.Icon.logo class="w-32 lg:w-48 h-auto mt-4 mx-auto md:mx-0" />
    </div>

    <div class="!text-landingDescription mt-12 text-sm md:text-base">
      언제 어디서든 데이터를 확인하고 논의하세요.<br /> reflow를 통해 데이터 보는 문화를 쉽게 만들 수 있습니다.
    </div>
  </div>

  <div class="col-span-12 md:col-span-6">
    <%= img_tag(Routes.static_path(@socket, "/images/section-1.png"),
      class: "w-full"
    ) %>
  </div>
</section>

<section class="landing-container section sm:!px-24">
  <div
    class="relative max-w-4xl mx-auto"
    style="padding-bottom: calc(66.66666666666666% + 41px); height: 0;"
  >
    <iframe
      src="https://demo.arcade.software/rcNgnDoQ5ukCtpb1DtYA?embed"
      frameborder="0"
      loading="lazy"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"
      title="reflow - 데이터 보는 습관을 만드는 가장 쉬운 툴"
    >
    </iframe>
  </div>
</section>

<section class="landing-container section text-center !pt-10">
  <h1 class="h1 mb-28">reflow 고객들은</h1>
  <div class="flex flex-col md:flex-row space-y-16 md:space-y-0 justify-center md:divide-x">
    <div class="md:px-28 pt-6 pb-10">
      <div class="text-md mb-4">
        리텐션율
      </div>
      <u class="text-5xl font-bold">
        100%
      </u>
    </div>
    <div class="md:px-28 pt-6 pb-10">
      <div class="text-md mb-4">
        생성된 레포트
      </div>
      <u class="text-5xl font-bold">
        <%= @report_log_count |> format_number() %>개
      </u>
    </div>
  </div>
  <div class="text-landingDescription mt-18 mb-20 md:mb-0 md:mt-28 text-sm">
    * <%= current_datetime!(@timezone) |> DateHelper.safe_format_date() %> 기준
  </div>
</section>

<div class="landing-container">
  <div class="bg-primary rounded-lg flex justify-between items-center py-4 px-4 md:px-8">
    <div class="text-white font-bold text-sm lg:text-base">
      지금 시작하면 Beta 기간이 끝날 때까지 무료 🎉
    </div>

    <button
      class="button ml-4"
      phx-click="click_link"
      phx-value-name="start_on_banner"
      phx-value-to="/login"
    >
      무료로 시작하기
    </button>
  </div>
</div>

<section class="landing-container flex flex-col section text-center">
  <h1 class="h1 mb-28">이런 고민을 해봤다면<br /> reflow를 도입할 때!</h1>

  <div class="flex flex-col md:flex-row space-y-12 md:space-y-0">
    <div class="avatar-card-container">
      <div>
        <%= img_tag(Routes.static_path(@socket, "/images/avatar-1.png"), width: "127px") %>
      </div>

      <div class="avatar-card-text">
        <div class="avatar-card-text-title">
          CEO
        </div>
        <div class="avatar-card-text-description">
          동료들이 지표를 보면서 일했으면 좋겠는데,<br />여러번 이야기해도 잘 안되네요.<br />데이터 접근성 올리기에도 개발 리소스가 필요하고요
        </div>
      </div>
    </div>

    <div class="avatar-card-container">
      <div>
        <%= img_tag(Routes.static_path(@socket, "/images/avatar-2.png"), width: "127px") %>
      </div>

      <div class="avatar-card-text">
        <div class="avatar-card-text-title">
          Business Analyst
        </div>
        <div class="avatar-card-text-description">
          지표가 떨어진 걸 너무 늦게 발견해서<br />신속하게 대응하지 못할 때가 있어요.<br />최대 35%의 매출 손실이 있던 날도 있었어요.
        </div>
      </div>
    </div>

    <div class="avatar-card-container">
      <div>
        <%= img_tag(Routes.static_path(@socket, "/images/avatar-3.png"), width: "127px") %>
      </div>

      <div class="avatar-card-text">
        <div class="avatar-card-text-title">
          Marketer
        </div>
        <div class="avatar-card-text-description">
          마케팅 지표랑 제품 지표랑 연결시켜서<br />마케팅 캠페인을 바꾸고 싶어요.<br />그런데 데이터를 볼 수 있는 방법이 없어요.
        </div>
      </div>
    </div>
  </div>
</section>

<.feature image_url="/images/section-2.png" bg_color="bg-landingBgGray">
  <div class="text-center md:text-left">
    <h1 class="h1">분석에 최적화된 레포트를<br />손쉽게 매일 받아보세요.</h1>

    <div class="!text-landingDescription section-description">
      데이터 분석에 필수인 성장율, 7일 이동 합계 등의 값들을<br /> 쿼리로 직접 구현하는 건 매우 복잡합니다.<br />
      reflow는 모든 값을 자동으로 계산하여 차트로 만들어줍니다.
    </div>

    <div class="section-quote-container">
      <%= img_tag(Routes.static_path(@socket, "/images/small-avatar-1.png"), width: "60px") %>
      <div class="section-quote-text-container">
        <div class="section-quote-text-comment">
          매일 30분씩 만들던 레포트를 자동으로 받게 되면서<br class="hidden md:block" /> 데이터 분석 업무에 집중할 수 있게 되었습니다.
        </div>
        <div class="section-quote-text-description">
          Data Analyst ∙ <span class="section-quote-text-description-plus">20~49명 규모 스타트업</span>
        </div>
      </div>
    </div>
  </div>
</.feature>

<.feature image_url="/images/section-3.png" image_position="left">
  <div class="text-center md:text-left">
    <h1 class="h1">배치 작업, 쿼리, 시각화..<br /> 개발자 없이도<br /> 이 모든 걸 웹에서 손쉽게!</h1>

    <div class="!text-landingDescription section-description">
      데이터를 쿼리하고 가공하여 시각화한 후 슬랙에 전송하기까지,<br class="hidden md:block" />
      이 모든 작업을 코드 한 줄 없이 웹에서 설정할 수 있습니다.
    </div>

    <div class="section-quote-container">
      <%= img_tag(Routes.static_path(@socket, "/images/small-avatar-2.png"), width: "60px") %>
      <div class="section-quote-text-container">
        <div class="section-quote-text-comment">
          개발자에게 부탁해도 우선순위에 밀려서 잘 안 만들어지던<br class="hidden md:block" />
          데이터 레포트를 직접 만들 수 있어서 너무 좋습니다.
        </div>
        <div class="section-quote-text-description">
          CEO ∙ <span class="section-quote-text-description-plus">5~9명 규모 스타트업</span>
        </div>
      </div>
    </div>
  </div>
</.feature>

<.feature image_url="/images/section-4.png" bg_color="bg-landingBgGray">
  <div class="text-center md:text-left">
    <h1 class="h1">쿼리 문법을 몰라도<br /> 쿼리 생성기를 통해<br /> 쉽게 레포트 생성</h1>

    <div class="!text-landingDescription section-description">
      쿼리 문법을 잘 몰라도 괜찮습니다.<br /> 간단한 쿼리 자동 생성 기능을 제공합니다.<br /> 클릭 몇 번으로 쿼리를 완성할 수 있습니다.
    </div>

    <div class="section-quote-container">
      <%= img_tag(Routes.static_path(@socket, "/images/small-avatar-3.png"), width: "60px") %>
      <div class="section-quote-text-container">
        <div class="section-quote-text-comment">
          쿼리를 배우는 게 부담스러웠는데<br class="hidden md:block" />
          reflow는 쿼리 생성기를 제공해주기 때문에<br class="hidden md:block" /> 설정 하자마자 레포트를 만들 수 있었습니다.
        </div>
        <div class="section-quote-text-description">
          Marketer ∙ <span class="section-quote-text-description-plus">20~49명 규모 스타트업</span>
        </div>
      </div>
    </div>
  </div>
</.feature>

<section class="landing-container ">
  <div class="bg-landingBgGray py-20 my-20 px-10 flex flex-col items-center rounded-lg text-center">
    <%= img_tag(Routes.static_path(@socket, "/images/security.png"), width: "66px") %>
    <h1 class="h1 mt-8 mb-12">고객의 데이터는 안전합니다</h1>
    <div class="text-landingDescription leading-8 text-left md:text-center">
      🔐 고객과 reflow 사이의 정보는 모두 TLS 암호화 되어 전송됩니다.<br /> 🔐 데이터 소스 접속 정보는 또한 모두 암호화되어 저장됩니다.<br />
      🔐 고객의 데이터 소스에 있는 데이터는 reflow 에 일체 저장하지 않습니다.<br />
      🔐 Multi-tenancy 가 적용되어 다른 고객에게 데이터가 노출될 걱정이 없습니다.
    </div>
  </div>
</section>

<section class="landing-container flex flex-col items-center section">
  <h1 class="h1 mb-16 text-center">원하는 데이터 소스에 연결하세요.</h1>

  <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 space-x-0 md:space-x-8">
    <div class="border py-4 px-6 rounded-md flex items-center">
      <%= img_tag(Routes.static_path(@socket, "/images/logo-tableau.png"), class: "w-8 mr-5") %>
      <div class="font-bold">
        Tableau Cloud
      </div>
    </div>
    <div class="border py-4 px-6 rounded-md flex items-center">
      <%= img_tag(Routes.static_path(@socket, "/images/logo-bigquery.png"), class: "w-8 mr-5") %>
      <div class="font-bold">
        Google BigQuery
      </div>
    </div>
    <div class="border py-4 px-6 rounded-md flex items-center">
      <%= img_tag(Routes.static_path(@socket, "/images/logo-athena.png"), class: "w-8 mr-5") %>
      <div class="font-bold">
        AWS Athena
      </div>
    </div>
    <div class="border py-4 px-6 rounded-md flex items-center">
      <%= img_tag(Routes.static_path(@socket, "/images/logo-mysql.png"), class: "w-8 mr-5") %>
      <div class="font-bold">
        MySQL
      </div>
    </div>
    <div class="border py-4 px-6 rounded-md flex items-center">
      <%= img_tag(Routes.static_path(@socket, "/images/logo-postgresql.png"), class: "w-8 mr-5") %>
      <div class="font-bold">
        PostgreSQL
      </div>
    </div>
  </div>
</section>

<section class="landing-container">
  <div class="flex flex-col items-center bg-primary py-16 my-40 rounded-xl text-white text-center">
    <h1 class="h1">5분 만에 데이터 보는 팀을 만드세요.</h1>
    <button
      class="button button-lg mt-8"
      phx-click="click_link"
      phx-value-name="start_on_last_section"
      phx-value-to="/login"
    >
      무료로 시작하기
    </button>
  </div>
</section>
