<section class="bg-white flex flex-col items-center p-10">
    <h2 class="font-bold text-5xl">This is reflow</h2>
    <img src={Routes.static_path(@socket, "/images/google-signin.png")} class="w-48 m-10 cursor-pointer" />
    <div class="text-sm">By creating an account you agree to our <a href="#" class="underline">Terms & Conditions</a> and <a href="#" class="underline">Privacy Policy</a></div>
</section>
