<section class="landing-container !py-16 flex flex-col md:flex-row md:items-center section">
  <div>
    <div class="h1">
      가격 정책
    </div>

    <div class="text-landingDescription mt-4">
      베타 기간 동안 일단 무료로 시작해보세요.<br /> 개발자가 몇 주에 걸쳐 작업해야 볼 수 있는 레포트를 단 5분 만에 설정할 수 있습니다.
    </div>
  </div>
</section>

<section class="landing-container section !pt-0 !pb-16">
  <div class="space-y-4 md:space-y-0 md:space-x-4 md:flex">
    <div class="border rounded-md p-6 text-center flex-1">
      <div class="font-bold mb-2 text-xl">
        Monthly
      </div>
      <div class="mb-4 text-sm">(매달 N일 결제, 최대 31일간 사용)</div>
      <div class="pt-6">
        <span class="font-bold text-2xl">49,000</span>
        <span class="text-landingDescription text-sm">원 / 월</span>
      </div>
      <div>
        <button
          class="btn btn-primary mt-6"
          type="button"
          phx-click="click_link"
          phx-value-name="start_monthly"
          phx-value-to="/login"
        >
          무료로 시작하기
        </button>
      </div>
      <hr class="my-6" />
      <div class="space-y-2">
        <div>
          최대 28일 무료
        </div>
        <div>
          레포트 무제한 제공
        </div>
        <div>
          채널톡 문의 지원
        </div>
      </div>
    </div>

    <div class="border rounded-md p-6 text-center flex-1">
      <div class="font-bold mb-2 text-xl">
        Yearly
      </div>
      <div class="text-sm mb-3">(매년 M/N일 결제, 365일 사용)</div>
      <div class="flex justify-center mb-2">
        <div class="border rounded-xl w-fit px-4 text-sm border-primary-red text-primary-red">
          20% 할인
        </div>
      </div>
      <div>
        <del class="text-landingDescription text-2xl">49,000</del>
        <span class="font-bold text-2xl">39,000</span>
        <span class="text-landingDescription text-sm">원 / 월</span>
      </div>
      <div>
        <button
          class="btn btn-primary mt-6"
          type="button"
          phx-click="click_link"
          phx-value-name="start_yearly"
          phx-value-to="/login"
        >
          무료로 시작하기
        </button>
      </div>
      <hr class="my-6" />
      <div class="space-y-2">
        <div>
          최대 28일 무료
        </div>
        <div>
          레포트 무제한 제공
        </div>
        <div>
          채널톡 문의 지원
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-container section !mt-0 !pt-0">
  <div class="cursor-pointer" phx-click="click_toggle">▶ 환불규정</div>
  <%= if @is_open_toggle do %>
    <div class="text-sm mt-4">
      - Monthly 결제 : 서비스 기간의 50% 이상을 사용하지 않으면, 서비스 이용한 일수를 제외하고 일할계산으로 환불합니다. 1분이라도 사용한 날은 사용한 것으로 간주합니다. 결제일로부터 15일까지는 일할 계산으로 환불처리가 되며 16일부터는 환불이 불가능합니다. 일한 계산은 카드 수수료와 위약금을 포함한 결제 금액의 20%를 제외한 금액입니다.<br />
      - Yearly 결제 : 연 기준은 12개월 기준으로 전체 연간결제 이용료를 월할 계산합니다. 하루라도 이용한 월은 사용한 월으로 간주합니다.<br />
      환불할 할인이 적용안된 정기 Monthly 결제 기준으로 환불을 합니다. 따라서 환불 시점에서 따라 환불금액이 존재하지 않는 경우도 있을 수 있습니다.<br />
      - 취소 신청 후 영업일 2일내에 취소처리가 완료됩니다. 카드사에 따라서 실제 환불까지는 더 시간이 소요되는 경우가 있습니다.
    </div>
  <% end %>
</section>
