<section class="px-10 py-8">
  <header>
    <h1 class="font-bold text-lg">
      <span class="pr-1">⚙️</span> Settings
    </h1>
  </header>

  <div class="card mt-6">
    <div class="card-body">
      <h2 class="card-title">
        My Plan
      </h2>

      <p>
        Trial
      </p>
    </div>
  </div>
</section>
