<section class="page-container">
  <.page_header icon="⚙️" title="설정" />

  <div class="flex gap-4">
    <.card_container class="w-52">
      <div class="card p-4 space-y-1">
        <.menu :for={menu <- @menus} menu={menu} selected?={menu == @selected_menu} />
      </div>
    </.card_container>

    <.live_component
      id={"settings_#{@selected_menu}"}
      module={get_menu_module(@selected_menu)}
      user={@user}
      org={@org}
    />
  </div>
</section>
