<section class="page-container" id="reports-index-container" phx-hook="Smartlook">
  <header class="page-header">
    <h1 class="page-title">
      <span class="page-title-icon">📑</span> 레포트 목록
    </h1>

    <div class="text-right">
      <.link navigate={Routes.report_log_index_path(@socket, :index)} class="btn btn-outline">
        레포트 발송 기록
      </.link>
      <.link navigate={Routes.report_new_path(@socket, :new)} class="btn btn-primary">
        새 레포트 생성
      </.link>
    </div>
  </header>

  <section class="mt-6">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>이름</th>
            <th>발송 시간</th>
            <th>슬랙 채널</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= for report <- @reports do %>
            <tr class="hover">
              <th><%= report.name %></th>
              <td><%= report.trigger_time |> format_trigger_time(@timezone) %></td>
              <td>#<%= report.integration_info.channel_name %></td>
              <td class="flex justify-end gap-x-2">
                <.link
                  navigate={Routes.report_new_path(@socket, :edit, report.id)}
                  class="btn btn-sm"
                >
                  수정
                </.link>
                <.link
                  patch={Routes.report_index_path(@socket, :delete, report.id)}
                  class="btn btn-sm"
                >
                  삭제
                </.link>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</section>

<%= if @live_action == :delete do %>
  <CarrierWeb.Components.Modal.confirm>
    <:title>
      레포트를 정말로 삭제하시겠어요?
    </:title>
    <:actions>
      <%= live_patch("취소", to: Routes.report_index_path(@socket, :index), class: "btn btn-sm") %>
      <a class="btn btn-primary btn-sm" phx-click="delete_report">Yes</a>
    </:actions>
  </CarrierWeb.Components.Modal.confirm>
<% end %>
