<.page_container id="reports-index-container" phx-hook="Smartlook">
  <.page_header icon="📑" title="리포트 목록">
    <.link
      navigate={~p"/app/report_logs"}
      class="btn btn-outline"
      phx-click={js_log_event("click_report_history", %{page_name: "report_list"})}
    >
      리포트 발송 기록
    </.link>
    <.link_button
      navigate={~p"/app/reports/new2"}
      disabled={disabled_new_report_button(@active_subscription, @reports)}
      phx-click={js_log_event("click_new_report", %{page_name: "report_list"})}
    >
      새 리포트 생성
      <span :if={over_report_max_count(@active_subscription, @reports)}>
        (최대 개수 초과)
      </span>
    </.link_button>
  </.page_header>

  <section class="mt-6">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>이름</th>
            <th>발송 시간</th>
            <th>데이터 소스</th>
            <th>슬랙 채널</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= for report <- @reports do %>
            <tr class="hover">
              <th><%= report.name %></th>
              <td><%= triggered_at(report, @timezone) %></td>
              <td><%= data_source(@data_sources, report).name %></td>
              <td><%= DataTargetInfo.to_string(report.data_target_info) %></td>
              <td class="flex justify-end gap-x-2">
                <.link_button
                  navigate={~p"/app/reports/#{report}/report_logs"}
                  style={:normal}
                  size={:sm}
                >
                  <.icon
                    :if={Report.failed?(report)}
                    name="hero-exclamation-circle-mini"
                    class="text-rose-500"
                  /> 발송 기록
                </.link_button>
                <.link_button
                  navigate={~p"/app/reports/#{report}/edit2"}
                  style={:normal}
                  size={:sm}
                  disabled={!@active_subscription}
                >
                  수정
                </.link_button>
                <.link_button patch={~p"/app/reports/#{report}/delete"} style={:normal} size={:sm}>
                  삭제
                </.link_button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</.page_container>

<%= if @live_action == :delete do %>
  <CarrierWeb.Components.Modal.confirm>
    <:title>
      리포트를 정말로 삭제하시겠어요?
    </:title>
    <:actions>
      <%= live_patch("취소", to: ~p"/app/reports", class: "btn btn-sm") %>
      <a class="btn btn-primary btn-sm" phx-click="delete_report">Yes</a>
    </:actions>
  </CarrierWeb.Components.Modal.confirm>
<% end %>
