<section class="page-container" id="reports-index-container" phx-hook="Smartlook">
  <.page_header icon="📑" title="레포트 목록">
    <.link navigate={~p"/app/report_logs"} class="btn btn-outline">
      레포트 발송 기록
    </.link>
    <.link
      navigate={~p"/app/reports/new"}
      class={[
        "btn btn-primary",
        disabled_new_report_button(@active_subscription, @reports) &&
          "!btn-disabled"
      ]}
    >
      새 레포트 생성
      <span :if={disabled_new_report_button(@active_subscription, @reports)}>
        (최대 개수 초과)
      </span>
    </.link>
  </.page_header>

  <section class="mt-6">
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>이름</th>
            <th>발송 시간</th>
            <th>데이터 소스</th>
            <th>슬랙 채널</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= for report <- @reports do %>
            <tr class="hover">
              <th><%= report.name %></th>
              <td><%= report.trigger_time |> format_trigger_time(@timezone) %></td>
              <td><%= data_source(@data_sources, report).name %></td>
              <td><%= DataTargetInfo.to_string(report.data_target_info) %></td>
              <td class="flex justify-end gap-x-2">
                <.link navigate={edit_path(report)} class="btn btn-sm">
                  수정
                </.link>
                <.link patch={~p"/app/reports/#{report}/delete"} class="btn btn-sm">
                  삭제
                </.link>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</section>

<%= if @live_action == :delete do %>
  <CarrierWeb.Components.Modal.confirm>
    <:title>
      레포트를 정말로 삭제하시겠어요?
    </:title>
    <:actions>
      <%= live_patch("취소", to: ~p"/app/reports", class: "btn btn-sm") %>
      <a class="btn btn-primary btn-sm" phx-click="delete_report">Yes</a>
    </:actions>
  </CarrierWeb.Components.Modal.confirm>
<% end %>
