<div class="flex flex-col items-center h-screen max-w-5xl w-full mx-auto px-8 py-20">
  <div class="flex-1 flex flex-row rounded-2xl overflow-hidden bg-white w-full shadow">
    <div class="flex flex-col flex-1 items-center justify-center bg-base-dark text-primary-content pb-8">
      <div>
        <CarrierWeb.Components.Icon.logo_white class="w-36 mb-2" />
      </div>
      <div class="text-2xl font-bold">
        단 5분만에 데이터 분석 환경 구축
      </div>
    </div>

    <div class="flex flex-col flex-1 items-center justify-center relative">
      <div class="">
        <.link href={Routes.auth_path(@conn, :request, "google")}>
          <div class="flex items-center bg-white border px-6 py-3 shadow-sm rounded text-sm font-bold hover:bg-gray-100">
            <div class="w-4">
              <%= img_tag(Routes.static_path(@conn, "/images/google-logo.png")) %>
            </div>
            <div class="mx-4">
              Google 계정으로 로그인
            </div>
            <div>
              <CarrierWeb.Components.Icon.arrow_right class="w-4" />
            </div>
          </div>
        </.link>
      </div>
    </div>
  </div>
</div>
