<div class="page-container">
  <header class="page-header">
    <h1 class="page-title">
      <span class="page-title-icon">⚙️</span>초기 설정하기
    </h1>
  </header>

  <section class="card mt-10">
    <div class="card-body">
      <div class="divide-y">
        <div class="flex space-x-6">
          <div class="flex items-center">
            <div class="circle gray mr-2">
              1
            </div>
            <div class="text-sm text-description">
              슬랙 연동하기
            </div>
          </div>

          <div class="flex items-center">
            <div class="circle mr-2">
              2
            </div>
            <div class="text-sm font-bold">
              데이터 소스 연결하기
            </div>
          </div>
        </div>

        <div class="mt-6 pt-6">
          <div class="callout">
            <div class="callout-icon">
              <Icon.alert_circle class="w-4 h-4 mt-0.5" />
            </div>
            사용하시는 데이터 소스의 접속정보를 넣어주세요. <br /> 모든 정보는 높은 수준의 암호화로 관리됩니다.
          </div>

          <div class="callout mt-2">
            <div class="callout-icon">
              <Icon.alert_circle class="w-4 h-4 mt-0.5" />
            </div>
            데이터 소스에 방화벽이 설정되어 있는 경우
            <code class="mx-1 bg-red-100 rounded text-primary-red px-1 border border-primary-red">
              15.165.126.27
            </code>
            IP를 화이트 리스트에 설정해주세요.
          </div>
        </div>
      </div>

      <div class="rounded-md">
        <div class="mt-8">
          <div class="flex">
            <a phx-click="change_step" phx-value-step="step-1" class="text-sm cursor-pointer">
              <div class={"p-2 pt-0 border-b-2 hover:text-primary-200 #{if @step == "step-1" do
                  "border-primary font-bold"
                end}"}>
                1. 데이터 소스 선택
              </div>
            </a>

            <a phx-click="change_step" phx-value-step="step-2" class="text-sm cursor-pointer">
              <div class={"ml-4 p-2 pt-0 border-b-2 #{if @step == "step-2" do
                  "border-primary font-bold"
                end}"}>
                2. 연결 정보 설정
              </div>
            </a>
          </div>

          <%= if @step == "step-1" do %>
            <.data_source_selection data_sources={data_sources()} source={@source} />
          <% end %>

          <%= if @step == "step-2" do %>
            <.data_source_form
              source={@source}
              form={@form}
              error={@error}
              uploads={@uploads}
              file_name={@file_name}
            />
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
