<div class="page-container">
  <.page_header icon="⚙️" title={@title} />

  <.card_container>
    <.card>
      <div class="callout">
        <.icon name="hero-exclamation-circle" class="mr-2.5" /> 데이터 레포트를 받으실 슬랙 워크스페이스에 연결해주세요.
      </div>

      <div class="mt-4">
        <Slack.button redirect_uri={@redirect_uri} />
      </div>
    </.card>
  </.card_container>
</div>
