<div class="page-container">
  <.page_header icon="⚙️" title="초기 설정하기" />

  <.card_container>
    <.card>
      <div class="divide-y">
        <div class="flex space-x-6">
          <div class="flex items-center">
            <div class="circle mr-2">
              1
            </div>
            <div class="text-sm font-bold">
              슬랙 연동하기
            </div>
          </div>

          <div class="flex items-center">
            <div class="circle gray mr-2">
              2
            </div>
            <div class="text-sm text-description">
              데이터 소스 연결하기
            </div>
          </div>
        </div>

        <div class="mt-6 pt-6">
          <div class="callout">
            <div class="callout-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
                />
              </svg>
            </div>
            데이터 레포트를 받으실 슬랙 워크스페이스에 연결해주세요.
          </div>
        </div>
      </div>

      <div class="mt-4">
        <Slack.button />
      </div>
    </.card>
  </.card_container>
</div>
