<.page_container>
  <.page_header icon="💳" title="구독 신청하기" />

  <.card_container class="grid grid-cols-12 gap-4">
    <.card class="col-span-7">
      <div class="border-2 border-black rounded-md p-4 flex flex-col justify-between cursor-pointer">
        <div>
          <div>
            <div class="text-lg">
              <%= @plan.name %>
            </div>
            <div class="mt-2">
              <div
                :if={@plan.original_price != nil}
                class="line-through text-landingDescription text-sm"
              >
                <%= @plan.original_price |> format_number() %>원
              </div>
              <span class="font-bold text-xl">
                <%= @plan |> Plan.month_price() |> format_number() %>
              </span>
              <span class="text-landingDescription text-sm">
                원 / 월
              </span>
            </div>
          </div>
          <div class="mt-4 space-y-2 text-sm">
            <div :for={description <- @plan.description} class="flex items-center">
              <Icon.check class="w-4 h-4 mr-1.5" /> <%= description %>
            </div>
          </div>
        </div>
      </div>
    </.card>
    <.card class="col-span-5 h-min">
      <.card_title title="결제 정보" />
      <div>
        <div class="text-xl font-bold mb-2">
          월 <%= @plan |> Plan.month_price() |> format_number() %>원
          <span class={[
            "text-description text-sm font-normal ml-1",
            if(@plan.billing_cycle == :yearly, do: "inline", else: "hidden")
          ]}>
            연 <%= @plan.price |> format_number() %>
          </span>
        </div>

        <div>
          결제 예정일: <%= @timezone |> current_datetime!() |> format_date() %>
        </div>
        <div :if={@credit_card}>
          결제 수단: <%= CreditCard.format_card_info(@credit_card) %>
        </div>
        <div>
          환불 규정:
          <.link class="link" href={Const.get(:refund_policy_url)} target="_blank">
            보기
          </.link>
        </div>
      </div>
      <div class="text-center mt-6">
        <button
          id="submit-button"
          class="btn btn-primary w-full"
          type="button"
          phx-click="request_payment"
        >
          구독하기
        </button>
        <div :if={false} class="text-landingDescription text-sm mt-2">
          결제 예정일 전까지 언제든지 구독을 취소할 수 있습니다.
        </div>
      </div>
    </.card>
  </.card_container>
</.page_container>
