<div class="mt-8">
  <.simple_form for={@form} phx-change={@onchange} phx-submit={@onsubmit} class="space-y-2">
    <.input
      type="text"
      field={@form[:name]}
      label="데이터 소스 이름"
      placeholder="데이터 마트"
      autofocus
      class="max-w-xs"
    />

    <.source_inputs source={@source} form={@form} uploads={@uploads} file_name={@file_name} />

    <:actions>
      <.button type="submit" disabled={!@form.source.valid?} phx-disable-with="연결중">
        연결하기
      </.button>
    </:actions>
  </.simple_form>
</div>
