<div class="mt-8">
  <.form
    :let={f}
    for={@form}
    phx-change="validate_data_source"
    phx-submit="create_data_source"
    class="space-y-2"
    autocomplete="off"
  >
    <.input
      type="text"
      field={f[:name]}
      label="데이터 소스 이름"
      placeholder="데이터 마트"
      class="max-w-xs"
    />

    <.source_inputs source={@source} form={f} uploads={@uploads} file_name={@file_name} />

    <.error :if={@error}><%= @error %></.error>

    <.button
      type="submit"
      class="btn btn-primary !mt-4"
      disabled={!@form.source.valid?}
      phx-disable-with="연결중"
    >
      연결하기
    </.button>
  </.form>
</div>
