<div class="mt-10 space-y-4">
  <%= for {source, source_name, image_filename} <- @data_sources do %>
    <div
      phx-click={JS.push("select_source", value: %{source: source})}
      class={[
        "p-4 cursor-pointer rounded w-80 border hover:bg-black hover:text-white flex items-center justify-between",
        if @source == source do
          "bg-black text-white"
        else
          "bg-white text-black"
        end
      ]}
    >
      <div class="flex items-center">
        <%= img_tag(~p"/images/#{image_filename}", class: "w-6 mr-4") %> <%= source_name %>
      </div>
      <Icon.arrow_right class="w-4" />
    </div>
  <% end %>
</div>
